{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Divvy App</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="" title="Home"><img alt="The Divvy App Logo" src="{% static "img/logo.png" %}"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            The Divvy App
          </h1>

        <p class="tagline">
          Don't make the long drive home alone.
          Passengers cover gas, you just drive.
        </p>
        <a class="btn btn-full" href="#">App Link Coming Soon</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

</body>
</html>
